<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">

  <div class="grafana-info-box span8">
    Segmentproxy is a multi-tenant system where most can be configured per organization.<br/>
    These event admin pages are for organization admins where they can manage event types, routing and other event related services.
  </div>

</div>

