<page-header model="navModel"></page-header>

<div class="page-container page-body">
  <div class="page-action-bar">
    <div class="page-action-bar__spacer"></div>
    <a class="page-header__cta btn btn-success" href="org/new">
      <i class="fa fa-plus"></i>
      New Org
    </a>
  </div>

  <table class="filter-table form-inline filter-table--hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Partition</th>
        <th style="width:1%"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="org in orgs">
        <td class="link-td">
          <a href="admin/orgs/edit/{{org.id}}">
            {{org.id}}
          </a>
        </td>
        <td class="link-td">
          <a href="admin/orgs/edit/{{org.id}}">
            {{org.name}}
          </a>
        </td>
        <td class="link-td">
          <a href="admin/orgs/edit/{{org.id}}">
            {{org.partition}}
          </a>
        </td>
        <td class="text-right">
          <a ng-click="deleteOrg(org)" class="btn btn-danger btn-small">
            <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
