<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">
	<div class="page-action-bar">
    <label class="gf-form gf-form--grow gf-form--has-input-icon">
      <input type="text" class="gf-form-input max-width-30" placeholder="Find event type by type/name/description" tabindex="1" give-focus="true" ng-model="ctrl.query" ng-model-options="{ debounce: 500 }" spellcheck='false' ng-change="ctrl.getEventTypes()" />
      <i class="gf-form-input-icon fa fa-search"></i>
    </label>
    <div class="page-action-bar__spacer"></div>
    <a class="btn btn-success" href="events/types/create">
      <i class="fa fa-plus"></i>
      Add new Event Type
    </a>
  </div>

  <div class="admin-list-table">
    <table class="filter-table form-inline filter-table--hover">
      <thead>
        <tr>
          <th></th>
          <th>Type</th>
          <th>Name</th>
          <th>Active
            <tip>Time since user was seen using Segmentproxy</tip>
          </th>
          <th></th>
          <th style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="type in ctrl.eventTypes">
          <td class="width-4 text-center link-td">
            <a href="events/types/edit/{{type.id}}">
              <img class="filter-table__avatar" ng-src="{{type.type}}"></img>
            </a>
          </td>
          <td class="link-td">
            <a href="events/types/edit/{{type.id}}">
              {{type.name}}
            </a>
          </td>
          <td class="link-td">
            <a href="events/types/edit/{{type.id}}">
              {{type.active}}
            </a>
          </td>
          <td class="text-right">
            <a ng-click="ctrl.deleteEventType(type)" class="btn btn-danger btn-small">
              <i class="fa fa-remove"></i>
            </a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <div class="admin-list-paging" ng-if="ctrl.showPaging">
    <ol>
      <li ng-repeat="page in ctrl.pages">
        <button class="btn btn-small" ng-class="{'btn-secondary': page.current, 'btn-inverse': !page.current}" ng-click="ctrl.navigateToPage(page)">{{page.page}}</button>
      </li>
    </ol>
  </div>
</div>
