<page-header model="ctrl.navModel"></page-header>

<div class="page-container page-body">

  <div class="grafana-info-box span8">
    Segmentproxy is a multi-tenant system where most can be configured per organization. These
    admin pages are for server admins where you can manage orgs, & all users across all orgs.
  </div>

</div>

