<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#000">

  <title>[[ .OrgSolutionSignature ]]</title>

  <base href="[[.AppSubUrl]]/" />

  <link rel="icon" type="image/png" href="public/tenants/[[ .OrgAssetPrefix ]]/favicon/favicon-32x32.png">
  <link rel="mask-icon" href="public/tenants/[[ .OrgAssetPrefix ]]/img/logo.svg" color="#F05A28">
  <link rel="apple-touch-icon" sizes="180x180" href="public/tenants/[[ .OrgAssetPrefix ]]/favicon/apple-touch-icon.png">

  <link rel="stylesheet" href="public/build/grafana.[[ .Theme ]].<%= webpack.hash %>.css">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="public/img/browserconfig.xml">
</head>

<body class="theme-[[ .Theme ]] [[.AppNameBodyClass]]">

  <style>
    .preloader {
      height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .preloader__enter {
      opacity: 0;
      animation-name: preloader-fade-in;
      animation-iteration-count: 1;
      animation-duration: .9s;
      animation-delay: 1.35s;
      animation-fill-mode: forwards;
    }

    .preloader__bounce {
      text-align: center;
      animation-name: preloader-bounce;
      animation-duration: .9s;
      animation-iteration-count: infinite;
    }

    .login {
      background-image: url(public/tenants/[[ .OrgAssetPrefix ]]/img/background.png);
    }

    .login-branding {
      background-image: url(public/tenants/[[ .OrgAssetPrefix ]]/img/logo_full.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 220px auto;
    }

    .preloader__logo {
      display: inline-block;
      animation-name: preloader-squash;
      animation-duration: .9s;
      animation-iteration-count: infinite;
      width: 60px;
      height: auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(public/tenants/[[ .OrgAssetPrefix ]]/img/logo_full.svg);
    }

    .preloader__text {
      margin-top: 16px;
      font-weight: 500;
      font-size: 14px;
      font-family: Sans-serif;
      opacity: 0;
      animation-name: preloader-fade-in;
      animation-duration: .9s;
      animation-delay: 1.8s;
      animation-fill-mode: forwards;
    }

    .theme-light .preloader__text {
      color: #52545c;
    }

    .theme-dark .preloader__text {
      color: #d8d9da;
    }

    @keyframes preloader-fade-in {
      0% {
        opacity: 0;
        /*animation-timing-function: linear;*/
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1)
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes preloader-bounce {
      from,
      to {
        transform: translateY(0px);
        animation-timing-function: cubic-bezier(0.3, 0.0, 0.1, 1)
      }
      50% {
        transform: translateY(-50px);
        animation-timing-function: cubic-bezier(.9, 0, .7, 1)
      }
    }

    @keyframes preloader-squash {
      0% {
        transform: scaleX(1.3) scaleY(.8);
        animation-timing-function: cubic-bezier(.3, 0, .1, 1);
        transform-origin: bottom center;
      }
      15% {
        transform: scaleX(.75) scaleY(1.25);
        animation-timing-function: cubic-bezier(0, 0, .7, .75);
        transform-origin: bottom center;
      }
      55% {
        transform: scaleX(1.05) scaleY(.95);
        animation-timing-function: cubic-bezier(.9, 0, 1, 1);
        transform-origin: top center;
      }
      95% {
        transform: scaleX(.75) scaleY(1.25);
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
        transform-origin: bottom center;
      }
      100% {
        transform: scaleX(1.3) scaleY(.8);
        transform-origin: bottom center;
        animation-timing-function: cubic-bezier(0, 0, 0.7, 1);
      }
    }

    /* Fail info */
    .preloader__text--fail {
      display: none;
    }

    /* stop logo animation */
    .preloader--done .preloader__bounce,
    .preloader--done .preloader__logo {
      animation-name: none;
      display: none;
    }

    .preloader--done .preloader__logo,
    .preloader--done .preloader__text {
      display: none;
      color: #ff5705 !important;
      font-size: 15px;
    }

    .preloader--done .preloader__text--fail {
      display: block;
    }

    [ng\:cloak],
    [ng-cloak],
    .ng-cloak {
      display: none !important;
    }
  </style>

  <div class="preloader">
    <div class="preloader__enter">
      <div class="preloader__bounce">
        <div class="preloader__logo"></div>
      </div>
    </div>
    <div class="preloader__text">Loading [[ .OrgSolutionSignature ]]</div>
    <div class="preloader__text preloader__text--fail">
      <p>
      <strong>If you're seeing this [[ .OrgSolutionSignature ]] has failed to load its application files</strong>
        <br />
        <br />
      </p>
      <!--p>
        1. This could be caused by your reverse proxy settings.<br /><br />
        2. If you host grafana under subpath make sure your grafana.ini root_url setting includes subpath<br /> <br />
        3. If you have a local dev build make sure you build frontend using: npm run dev, npm run watch, or npm run
        build<br /> <br />
        4. Sometimes restarting grafana-server can help<br />
      </p-->
    </div>
  </div>

  <grafana-app class="grafana-app" ng-cloak>
    <sidemenu class="sidemenu"></sidemenu>
    <app-notifications-list class="page-alert-list"></app-notifications-list>


    <div class="main-view">
      <div class="scroll-canvas" page-scrollbar>
        <div ng-view></div>

        <footer class="footer">
          <div class="text-center">
            <ul>
              <!--li>
                <a href="http://docs.grafana.org" target="_blank">
                  <i class="fa fa-file-code-o"></i>
                  Docs
                </a>
              </li>
              <li>
                <a href="https://grafana.com/services/support" target="_blank">
                  <i class="fa fa-support"></i>
                  Support Plans
                </a>
              </li>
              <li>
                <a href="https://community.grafana.com/" target="_blank">
                  <i class="fa fa-comments-o"></i>
                  Community
                </a>
              </li>
              <li>
                <a href="https://grafana.com" target="_blank">[[.AppName]]</a>
                <span>v[[.BuildVersion]] (commit: [[.BuildCommit]])</span>
              </li-->
              <li>
                <a href="https://segmentproxy.com/" target="_blank">
                  <i class="gicon gicon-segmentproxy"></i>Segmentproxy.com
                </a>
              </li>
              <!--
              [[if .NewGrafanaVersionExists]]
              <li>
                <a href="https://grafana.com/get" target="_blank" bs-tooltip="'[[.NewGrafanaVersion]]'">
                  New Segmentproxy version available!
                </a>
              </li>
              [[end]]
              -->
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </grafana-app>

  <script>
    window.grafanaBootData = {
      user: [[.User]],
      settings: [[.Settings]],
      navTree: [[.NavTree]]
    };

		// In case the js files fails to load the code below will show an info message.
    window.onload = function() {
      var preloader = document.getElementsByClassName("preloader");
      if (preloader.length) {
        preloader[0].className = "preloader preloader--done";
      }
    };
  </script>

	[[if .GoogleTagManagerId]]
		<!-- Google Tag Manager -->
		<script>
			dataLayer = [{
				'IsSignedIn': '[[.User.IsSignedIn]]',
				'Email': '[[.User.Email]]',
				'Name': '[[.User.Name]]',
				'UserId': '[[.User.Id]]',
				'OrgId': '[[.User.OrgId]]',
				'OrgName': '[[.User.OrgName]]',
			}];
		</script>
		<noscript>
			<iframe src="//www.googletagmanager.com/ns.html?id=[[.GoogleTagManagerId]]" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<script>(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', '[[.GoogleTagManagerId]]');</script>
		<!-- End Google Tag Manager -->
  [[end]]

</body>

</html>
