.gicon {
  line-height: 1;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

.gicon {
  fill: #72a200;
}

.gicon--has-hover {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.mini {
  width: 0.8em;
  height: 0.8em;
}

.gicon-add-annotation,
.gicon-annotation {
  background-image: url('../img/icons_sp/analytics.svg');
}

.gicon-back {
  background-image: url('../img/icons_sp/reply.svg');
}

.gicon-segmentproxy {
  background-image: url('../img/icons_sp/segmentproxy.svg');
}

.gicon-add-annotation-alt {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_add_annotation_alt.svg');
}

.gicon-add-user {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_add_user.svg');
}

.gicon-add-team {
  background-image: url('../img/icons_sp/group.svg');
}

.gicon-add-panel {
  background-image: url('../img/icons_sp/add.svg');
}

.gicon-add-link {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_add_link.svg');
}

.gicon-add-variable {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_add_variable.svg');
}

.gicon-add-alert-notification-channel {
  background-image: url('../img/icons_sp/alarm.svg');
}

.gicon-alert {
  //background-image: url('../img/icons_#{$theme-name}_theme/icon_alert.svg');
  background-image: url('../img/icons_sp/alarm.svg');
}

.gicon-alert-alt {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_alert_alt.svg');
}

.gicon-alert-rules {
  background-image: url('../img/icons_sp/menu.svg');
}

.gicon-alert-notification-channel {
  background-image: url('../img/icons_sp/share.svg');
}

.gicon-annotation-alt {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_annotation_alt.svg');
}

.gicon-apikeys {
  background-image: url('../img/icons_sp/api.svg');
}

.gicon-writekeys {
  background-image: url('../img/icons_sp/key-1.svg');
}

.gicon-branding {
  background-image: url('../img/icons_sp/logo.svg');
}

.gicon-stats {
  background-image: url('../img/icons_sp/report.svg');
}
.gicon-styleguide {
  background-image: url('../img/icons_sp/color.svg');
}

.gicon-cog {
  background-image: url('../img/icons_sp/gear.svg');
}

.gicon-dashboard {
  background-image: url('../img/icons_sp/line-chart.svg');
}

.gicon-dashboard-starred {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_dashboard_fav.svg');
}

.gicon-dashboard-list {
  background-image: url('../img/icons_sp/line-chart.svg');
}

.gicon-dashboard-new {
  background-image: url('../img/icons_sp/line-chart.svg');
}

.gicon-dashboard-import {
  background-image: url('../img/icons_sp/download-2.svg');
}

.gicon-datasources,
.gicon-add-datasources {
  background-image: url('../img/icons_sp/server-5.svg');
}

.gicon-editor {
  background-image: url('../img/icons_sp/edit.svg');
}

.gicon-folder-new {
  background-image: url('../img/icons_sp/folder-2.svg');
}

.gicon-home {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_home.svg');
}

.gicon-json {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_json.svg');
}

.gicon-link {
  background-image: url('../img/icons_sp/link.svg');
}

.gicon-manage {
  background-image: url('../img/icons_sp/data.svg');
}

.gicon-org {
  background-image: url('../img/icons_sp/company.svg');
}

.gicon-playlists {
  background-image: url('../img/icons_sp/video-player-2.svg');
}

.gicon-plugins {
  background-image: url('../img/icons_sp/addon.svg');
}

.gicon-preferences {
  background-image: url('../img/icons_sp/switch-1.svg');
}

.gicon-question {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_question.svg');
}

.gicon-shield {
  background-image: url('../img/icons_sp/shield.svg');
}

.gicon-snapshots {
  background-image: url('../img/icons_sp/photo-camera-1.svg');
}

.gicon-team {
  //background-image: url('../img/icons_#{$theme-name}_theme/icon_team.svg');
  background-image: url('../img/icons_sp/group.svg');
}

.gicon-user {
  background-image: url('../img/icons_sp/stick-man.svg');
}

.gicon-variable {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_variable.svg');
}

.gicon-viewer {
  background-image: url('../img/icons_sp/show.svg');
}

.gicon-zoom-out {
  background-image: url('../img/icons_#{$theme-name}_theme/icon_zoom_out.svg');
}

.gicon-event-routing {
  background-image: url('../img/icons_sp/shuffle-1.svg');
}

.gicon-signout {
  background-image: url('../img/icons_sp/logout.svg');
}

.gicon-authentication {
  background-image: url('../img/icons_sp/password.svg');
}

.gicon-favorite {
  background-image: url('../img/icons_sp/star-2.svg');
}

.gicon-detector {
  background-image: url('../img/icons_sp/idea-3.svg');
}

.gicon-favorite-active {
  background-image: url('../img/icons_sp/star-4.svg');
}

.gicon-event-settings {
  background-image: url('../img/icons_sp/process.svg');
}

.gicon-share {
  background-image: url('../img/icons_sp/share.svg');
}
.gicon-safe {
  background-image: url('../img/icons_sp/save.svg');
}
.gicon-present {
  background-image: url('../img/icons_sp/video-player-2.svg');
}
.gicon-reload {
  background-image: url('../img/icons_sp/synchronize.svg');
}
.gicon-zoom-out {
  background-image: url('../img/icons_sp/zoom-out.svg');
}
.gicon-export {
  background-image: url('../img/icons_sp/download-1.svg');
}
.gicon-switch {
  background-image: url('../img/icons_sp/shuffle.svg');
}

.navbar {
  .gicon {
    width: 17px;
    height: 17px;
    opacity: 0.6;
  }
}

.sidemenu {
  width: 20px;
  height: 20px;

  //Config
  .gicon-dashboard {
    background-image: url('../img/icons_sp/line-chart.svg');
  }
  .gicon-dashboard-new {
    background-image: url('../img/icons_sp/line-chart-b.svg');
  }
  .gicon-alert {
    background-image: url('../img/icons_sp/alarm.svg');
  }
  .gicon-cog {
    background-image: url('../img/icons_sp/gear.svg');
  }
  .gicon-question {
    background-image: url('../img/icons_sp/help.svg');
  }
  .gicon-events {
    background-image: url('../img/icons_sp/structure.svg');
  }
  .gicon-event-routing {
    background-image: url('../img/icons_sp/shuffle-1-b.svg');
  }
  .gicon-event-settings {
    background-image: url('../img/icons_sp/process-b.svg');
  }
  .gicon-event-enrichment {
    background-image: url('../img/icons_sp/quality-b.svg');
  }
  .gicon-event-writekey {
    background-image: url('../img/icons_sp/key-1-b.svg');
  }
  .gicon-event-livestream {
    background-image: url('../img/icons_sp/speed-b.svg');
  }
  .gicon-new {
    background-image: url('../img/icons_sp/add-2.svg');
  }
  .gicon-team {
    background-image: url('../img/icons_sp/group-b.svg');
  }
  .gicon-user {
    background-image: url('../img/icons_sp/stick-man-b.svg');
  }
  .gicon-apikeys {
    background-image: url('../img/icons_sp/api-b.svg');
  }
  .gicon-writekeys {
    background-image: url('../img/icons_sp/key-1-b.svg');
  }
  .gicon-datasources {
    background-image: url('../img/icons_sp/server-5-b.svg');
  }
  .gicon-plugins {
    background-image: url('../img/icons_sp/addon-b.svg');
  }
  .gicon-preferences {
    background-image: url('../img/icons_sp/switch-1-b.svg');
  }
  .gicon-shield {
    background-image: url('../img/icons_sp/shield-b.svg');
  }
  .gicon-alert-rules {
    background-image: url('../img/icons_sp/menu-b.svg');
  }
  .gicon-alert-notification-channel {
    background-image: url('../img/icons_sp/share-b.svg');
  }
  .gicon-signout {
    background-image: url('../img/icons_sp/logout-b.svg');
  }
  .gicon-switch {
    background-image: url('../img/icons_sp/shuffle-b.svg');
  }
  .gicon-community {
    background-image: url('../img/icons_sp/business-and-finance-2-b.svg');
  }
  .gicon-documentation {
    background-image: url('../img/icons_sp/file-b.svg');
  }
  .gicon-keyboard {
    background-image: url('../img/icons_sp/keyboard-b.svg');
  }
  .gicon-folder-new {
    background-image: url('../img/icons_sp/folder-2-b.svg');
  }
  .gicon-dashboard-import {
    background-image: url('../img/icons_sp/download-2-b.svg');
  }
  .gicon-explore {
    background-image: url('../img/icons_sp/startup-2.svg');
  }
  .gicon-authentication {
    background-image: url('../img/icons_sp/password-b.svg');
  }
  .gicon-detector {
    background-image: url('../img/icons_sp/idea-3-b.svg');
  }

  //Dashboards
  .gicon-home {
    background-image: url('../img/icons_sp/folderb.svg');
  }
  .gicon-manage {
    background-image: url('../img/icons_sp/datab.svg');
  }
  .gicon-playlists {
    background-image: url('../img/icons_sp/video-player-1b.svg');
  }
  .gicon-snapshots {
    background-image: url('../img/icons_sp/photo-camera-1-b.svg');
  }
}

.fa--permissions-list {
  min-width: 20px;
  padding-right: 5px;
}

.panel-editor-tabs {
  .gicon-advanced-active {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_advanced_active.svg');
  }

  .gicon-advanced {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_advanced.svg');
  }

  .gicon-alert-active {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_alerting_active.svg');
  }

  .gicon-alert {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_alerting.svg');
  }

  .gicon-queries-active {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_query_active.svg');
  }

  .gicon-queries {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_query.svg');
  }

  .gicon-visualization-active {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_visualize_active.svg');
  }

  .gicon-visualization {
    background-image: url('../img/icons_#{$theme-name}_theme/icon_visualize.svg');
  }
}

.dropdown-menu {
  .gicon-explore {
    background-image: url('../img/icons_sp/startup-2-b.svg');
  }
  .gicon-view {
    background-image: url('../img/icons_sp/show-b.svg');
  }
  .gicon-edit {
    background-image: url('../img/icons_sp/edit-b.svg');
  }
  .gicon-share {
    background-image: url('../img/icons_sp/share-b.svg');
  }
  .gicon-more {
    background-image: url('../img/icons_sp/more-b.svg');
  }
  .gicon-delete {
    background-image: url('../img/icons_sp/bin-b.svg');
  }
}
