<div class="modal-body">
	<div class="modal-header">
		<h2 class="modal-header-title">
			<i class="fa fa-cloud-download"></i>
			<span class="p-l-1">Update Plugin</span>
		</h2>

		<a class="modal-header-close" ng-click="dismiss();">
			<i class="fa fa-remove"></i>
		</a>
	</div>

	<div class="modal-content">
		<div class="gf-form-group">
			<p>Type the following on the command line to update {{plugin.name}}.</p>
			<pre><code>grafana-cli plugins update {{plugin.id}}</code></pre>
			<span class="small">Check out {{plugin.name}} on <a href="https://grafana.com/plugins/{{plugin.id}}">Grafana.com</a> for README and changelog. If you do not have access to the command line, ask your Grafana administator.</span>
		</div>
		<p class="pluginlist-none-installed"><img class="pluginlist-inline-logo" src="public/tenants/sp/img/logo.svg"><strong>Pro tip</strong>: To update all plugins at once, type <code class="code--small">grafana-cli plugins update-all</code> on the command line.</div>
	</div>
</div>
