@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Box sizing
@mixin box-sizing($boxmodel) {
  box-sizing: $boxmodel;
}

@mixin tab-focus() {
  // Default
  outline: thin dotted;
  // WebKit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin no-focus() {
  outline: none;
}

// Center-align a block level element
// ----------------------------------
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Sizing shortcuts
// -------------------------
@mixin size($height, $width) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  @include size($size, $size);
}

// Placeholder text
// -------------------------
@mixin placeholder($color: $placeholderText) {
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

// FONTS
// --------------------------------------------------

@mixin font-family-serif() {
  font-family: $font-family-serif;
}

@mixin font-family-sans-serif() {
  font-family: $font-family-sans-serif;
}

@mixin font-family-monospace() {
  font-family: $font-family-monospace;
}

@mixin font-shorthand($size: $font-size-base, $weight: normal, $lineHeight: $line-height-base) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin font-serif($size: $font-size-base, $weight: normal, $lineHeight: $line-height-base) {
  @include font-family-serif();
  @include font-shorthand($size, $weight, $lineHeight);
}

@mixin font-sans-serif($size: $font-size-base, $weight: normal, $lineHeight: $line-height-base) {
  @include font-family-sans-serif();
  @include font-shorthand($size, $weight, $lineHeight);
}

@mixin monospace($size: $font-size-base, $weight: normal, $lineHeight: $line-height-base) {
  @include font-family-monospace;
  @include font-shorthand($size, $weight, $lineHeight);
}

// FORMS
// --------------------------------------------------

// Block level inputs
.input-block-level {
  display: block;
  width: 100%;
  min-height: $input-line-height; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  @include box-sizing(border-box); // Makes inputs behave like true block-level elements
}

// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// Single Corner Border Radius
@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  border-top-right-radius: $radius;
}
@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  border-bottom-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-left-radius: $radius;
}

// Single Side Border Radius
@mixin border-top-radius($radius) {
  @include border-top-right-radius($radius);
  @include border-top-left-radius($radius);
}
@mixin border-right-radius($radius) {
  @include border-top-right-radius($radius);
  @include border-bottom-right-radius($radius);
}
@mixin border-bottom-radius($radius) {
  @include border-bottom-right-radius($radius);
  @include border-bottom-left-radius($radius);
}
@mixin border-left-radius($radius) {
  @include border-top-left-radius($radius);
  @include border-bottom-left-radius($radius);
}

// Drop shadows
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
}

// Transitions
@mixin transition($transition) {
  transition: $transition;
}

@mixin transition-delay($transition-delay) {
  transition-delay: $transition-delay;
}

@mixin transition-duration($transition-duration) {
  transition-duration: $transition-duration;
}

// Transformations
@mixin rotate($degrees) {
  transform: rotate($degrees);
}

@mixin scale($ratio) {
  transform: scale($ratio);
}

@mixin translate($x, $y) {
  transform: translate($x, $y);
}

@mixin skew($x, $y) {
  transform: skew($x, $y);
  -webkit-backface-visibility: hidden; // See https://github.com/twbs/bootstrap/issues/5319
}

@mixin translate3d($x, $y, $z) {
  transform: translate3d($x, $y, $z);
}

@mixin backface-visibility($visibility) {
  backface-visibility: $visibility;
}
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
@mixin background-clip($clip) {
  background-clip: $clip;
}

// Background sizing
@mixin background-size($size) {
  background-size: $size;
}

// User select
// For selecting text on the page
@mixin user-select($select) {
  user-select: $select;
}

// Resize anything
@mixin resizable($direction) {
  resize: $direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// CSS3 Content Columns
@mixin content-columns($columnCount, $columnGap: $gridGutterWidth) {
  -webkit-column-count: $columnCount;
  -moz-column-count: $columnCount;
  column-count: $columnCount;
  -webkit-column-gap: $columnGap;
  -moz-column-gap: $columnGap;
  column-gap: $columnGap;
}

// Optional hyphenation
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
  -moz-hyphens: $mode;
  -ms-hyphens: $mode;
  -o-hyphens: $mode;
  hyphens: $mode;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity / 100;
}

// BACKGROUNDS
// --------------------------------------------------

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
  @mixin background($color: $white, $alpha: 1) {
    background-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
  }
  @mixin border($color: $white, $alpha: 1) {
    border-color: hsla(hue($color), saturation($color), lightness($color), $alpha);
    @include background-clip(padding-box);
  }
}

// Gradient Bar Colors for buttons and alerts
@mixin gradientBar($primaryColor, $secondaryColor, $text-color: #fff, $textShadow: 0 -1px 0 rgba(0,0,0,0.25)) {
  color: $text-color;
  text-shadow: $textShadow;
  @include gradient-vertical($primaryColor, $secondaryColor);
  border-color: $primaryColor;
}

// Gradients
@mixin gradient-horizontal($startColor: #555, $endColor: #333) {
  background-color: $endColor;
  background-image: linear-gradient(to right, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
}

@mixin gradient-vertical($startColor: #555, $endColor: #333) {
  background-color: mix($startColor, $endColor, 60%);
  background-image: linear-gradient(to bottom, $startColor, $endColor); // Standard, IE10
  background-repeat: repeat-x;
}

@mixin gradient-directional($startColor: #555, $endColor: #333, $deg: 45deg) {
  background-color: $endColor;
  background-repeat: repeat-x;
  background-image: linear-gradient($deg, $startColor, $endColor); // Standard, IE10
}

@mixin gradient-horizontal-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
  background-color: mix($midColor, $endColor, 80%);
  background-image: linear-gradient(to right, $startColor, $midColor $colorStop, $endColor);
  background-repeat: no-repeat;
}

@mixin gradient-vertical-three-colors($startColor: #00b3ee, $midColor: #7a43b6, $colorStop: 50%, $endColor: #c3325f) {
  background-color: mix($midColor, $endColor, 80%);
  background-image: linear-gradient($startColor, $midColor $colorStop, $endColor);
  background-repeat: no-repeat;
}

@mixin gradient-radial($innerColor: #555, $outerColor: #333) {
  background-color: $outerColor;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from($innerColor), to($outerColor));
  background-image: -webkit-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -moz-radial-gradient(circle, $innerColor, $outerColor);
  background-image: -o-radial-gradient(circle, $innerColor, $outerColor);
  background-repeat: no-repeat;
}

@mixin striped($color: #555, $angle: 45deg) {
  background-color: $color;
  background-image: linear-gradient(
    $angle,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
}

@mixin left-brand-border($color: transparent) {
  border-left: 1px solid $color;
}

@mixin left-brand-border-gradient() {
  border: none;
  border-image: linear-gradient($sp-brand-color-1 0%, $sp-brand-color-2 99%, $sp-brand-color-3 100%);
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left-width: 1px;
}

@mixin brand-bottom-border() {
  border-image: $brand-gradient;
  border-image-slice: 1;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-width: 1px;
}

@mixin list-item() {
  display: block;
  margin: 3px;
  padding: 7px;
  background: $list-item-bg;
  box-shadow: $list-item-shadow;
  color: $list-item-link-color;

  &:hover {
    background: $list-item-hover-bg;
    color: $list-item-link-color;
  }
}
