<div class="navbar">

	<div>
		<a class="navbar-page-btn" ng-click="ctrl.showSearch()">
			<i class="gicon gicon-{{ ctrl.dashboard.icon }}"></i>
			<span ng-if="ctrl.dashboard.meta.folderId > 0" class="navbar-page-btn--folder">{{ctrl.dashboard.meta.folderTitle}} / </span>{{ctrl.dashboard.title}}
			<i class="fa fa-caret-down"></i>
		</a>
	</div>

	<div class="navbar__spacer"></div>

	<div class="navbar-buttons navbar-buttons--playlist" ng-if="ctrl.playlistSrv.isPlaying">
		<a class="navbar-button navbar-button--tight" ng-click="ctrl.playlistSrv.prev()"><i class="fa fa-step-backward"></i></a>
		<a class="navbar-button navbar-button--tight" ng-click="ctrl.playlistSrv.stop()"><i class="fa fa-stop"></i></a>
		<a class="navbar-button navbar-button--tight" ng-click="ctrl.playlistSrv.next()"><i class="fa fa-step-forward"></i></a>
	</div>

	<div class="navbar-buttons navbar-buttons--actions">
		<button class="btn navbar-button navbar-button--add-panel" ng-show="::ctrl.dashboard.meta.canSave" bs-tooltip="'Add panel'" data-placement="bottom" ng-click="ctrl.addPanel()">
			<i class="gicon gicon-add-panel"></i>
		</button>

		<button class="btn navbar-button navbar-button--star" ng-show="::ctrl.dashboard.meta.canStar" ng-click="ctrl.starDashboard()" bs-tooltip="'Mark as favorite'" data-placement="bottom">
			<i class="gicon " ng-class="{'gicon-favorite-active': !ctrl.dashboard.meta.isStarred, 'gicon-favorite': ctrl.dashboard.meta.isStarred}"></i>
		</button>

    <button class="btn navbar-button navbar-button--share" ng-show="::ctrl.dashboard.meta.canShare" ng-click="ctrl.shareDashboard(0)" bs-tooltip="'Share dashboard'" data-placement="bottom">
			<i class="gicon gicon-share"></i></a>
		</button>

    <button class="btn navbar-button navbar-button--save" ng-show="ctrl.dashboard.meta.canSave" ng-click="ctrl.saveDashboard()" bs-tooltip="'Save dashboard <br> CTRL+S'" data-placement="bottom">
			<i class="gicon gicon-safe"></i>
		</button>

		<a class="btn navbar-button navbar-button--snapshot-origin" ng-if="::ctrl.dashboard.snapshot.originalUrl" href="{{ctrl.dashboard.snapshot.originalUrl}}" bs-tooltip="'Open original dashboard'" data-placement="bottom">
			<i class="gicon gicon-link"></i>
		</a>

		<button class="btn navbar-button navbar-button--settings" ng-click="ctrl.toggleSettings()" bs-tooltip="'Settings'" data-placement="bottom" ng-show="ctrl.dashboard.meta.showSettings">
			<i class="gicon gicon-cog"></i>
		</button>
	</div>

	<div class="navbar-buttons navbar-buttons--tv">
    <button class="btn navbar-button navbar-button--tv" ng-click="ctrl.toggleViewMode()" bs-tooltip="'Cycle view mode'" data-placement="bottom">
      <i class="gicon gicon-present"></i>
    </button>
  </div>

	<gf-time-picker class="gf-timepicker-nav" dashboard="ctrl.dashboard" ng-if="!ctrl.dashboard.timepicker.hidden"></gf-time-picker>

	<div class="navbar-buttons navbar-buttons--close">
		<button class="btn navbar-button navbar-button--primary" ng-click="ctrl.close()" bs-tooltip="'Back to dashboard'" data-placement="bottom">
			<i class="gicon gicon-back"></i>
		</button>
	</div>

</div>

<dashboard-search></dashboard-search>
