.page-dashboard .footer {
  display: none;
}

.footer {
  color: $footer-link-color;
  padding: 1rem 0 1rem 0;
  font-size: $font-size-sm;
  position: relative;
  width: 98%; /* was causing horiz scrollbars - need to examine */

  a {
    color: $footer-link-color;

    &:hover {
      color: $footer-link-hover;
    }
  }

  ul {
    list-style: none;
  }

  i {
    margin-right: 6px;
  }

  li {
    display: inline-block;
    padding-right: 2px;
    &::after {
      content: ' | ';
      padding-left: 2px;
    }
  }

  li:last-child {
    &::after {
      padding-left: 0;
      content: '';
    }
  }
}

// Keeping footer inside the graphic on Login screen
.login-page {
  .footer {
    bottom: $spacer;
    position: absolute;
    padding: 1rem 0 1rem 0;
  }
}

@include media-breakpoint-up(sm) {
  .login-page {
    .footer {
      padding: 5rem 0 1rem 0;
    }
  }
}
