.grafana-info-box {
  position: relative;
  padding: 1.5rem;
  background-color: $empty-list-cta-bg;
  margin-bottom: 2rem;
  border-top: 1px solid $info-box-border-color;
  margin-bottom: $spacer;
  margin-right: $gf-form-margin;
  box-shadow: $card-shadow;
  flex-grow: 1;

  h5 {
    margin-bottom: $spacer;
  }
  ul {
    padding-left: $spacer * 1.5;
  }

  code {
    @include font-family-monospace();
    font-size: $font-size-base - 2;
    background-color: $code-tag-bg;
    color: $text-color;
    border: 1px solid $code-tag-border;
    border-radius: 4px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    @extend .external-link;
  }

  &--max-lg {
    max-width: map-get($grid-breakpoints, 'lg');
  }
}

.grafana-info-box__close {
  text-align: center;
  display: block;
  color: $link-color !important;
  height: 0;
  position: relative;
  top: -9px;
}
