.navbar {
  position: relative;
  padding-left: 40px;
  z-index: $zindex-navbar-fixed;
  height: $navbarHeight;
  padding-right: 20px;
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid transparent;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, border-bottom;
}

@mixin navbar-alt-look() {
  background: $navbarBackground;
  box-shadow: $navbarShadow;
  border-bottom: $navbarBorder;
}

.dashboard-page--settings-open {
  .navbar {
    @include navbar-alt-look();
  }

  .navbar-buttons--tv,
  .navbar-button--add-panel,
  .navbar-button--star,
  .navbar-button--save,
  .navbar-button--share,
  .navbar-button--settings,
  .navbar-page-btn .fa-caret-down,
  .gf-timepicker-nav {
    display: none;
  }

  .navbar-buttons--close {
    display: flex;
  }
}

.panel-in-fullscreen {
  .navbar {
    padding-left: 15px;
  }

  .navbar-button--add-panel,
  .navbar-button--star,
  .navbar-button--tv,
  .navbar-page-btn .fa-caret-down {
    display: none;
  }

  .navbar-buttons--close {
    display: flex;
  }
}

.navbar-page-btn {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin: 0;
  color: darken($link-color, 5%);
  font-size: $font-size-lg;
  padding-left: 1rem;
  min-height: $navbarHeight;
  line-height: $navbarHeight;

  .fa-caret-down {
    font-size: 60%;
    padding-left: 0.2rem;
  }

  &--search {
    padding: 1rem 1.5rem 0.75rem 1.5rem;
  }

  .gicon {
    position: relative;
    top: -1px;
    font-size: 19px;
    line-height: 8px;
    opacity: 0.75;
    margin-right: 8px;
    // icon hidden on smaller screens
    display: none;
  }

  &--folder {
    color: $text-color-weak;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.navbar-buttons {
  // height: $navbarHeight;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: $spacer;

  &--close {
    display: none;
    margin-right: 0;
  }

  &--zoom {
    margin-right: 0;
  }
}

.navbar__spacer {
  flex-grow: 1;
}

.navbar-button {
  background-color: $navbarButtonBackground;
  display: inline-block;
  font-weight: $btn-font-weight;
  padding: 2px 11px;
  line-height: 16px;
  height: 30px;
  color: $text-muted;
  border: 1px solid $navbar-button-border;
  margin-right: 3px;
  white-space: nowrap;

  .gicon {
    font-size: 16px;
  }

  .fa {
    font-size: 16px;
  }

  &--tight {
    padding: 7px 4px;

    .fa {
      font-size: 14px;
      position: relative;
      top: 1px;
    }
  }

  &--primary {
    background-color: #0e3757;
  }
}

@include media-breakpoint-up(sm) {
  .navbar {
    padding-left: 50px;
  }

  .sidemenu-open {
    .navbar {
      padding-left: 15px;
      margin-left: 0;
    }
  }

  .navbar-page-btn {
    .gicon {
      display: inline-block;
    }
  }
}
