.add-panel-container {
  height: 100%;
}

.add-panel {
  height: 100%;
}

.add-panel__header {
  top: 0;
  position: absolute;
  padding: 0 15px;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: move;

  .gicon {
    height: 20px;
    margin-top: 10px;
    margin-right: $spacer;
  }

  &:hover {
    transition: background-color 0.1s ease-in-out;
    background-color: $panel-header-hover-bg;
  }
}

.add-panel__close {
  margin-left: auto;
  background-color: transparent;
  border: 0;
  font-size: 16px;
  margin-right: -10px;
}

.add-panel-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;

  .btn {
    margin-bottom: 10px;
  }
}
