.search-backdrop {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: $navbarHeight;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg;
}

.search-backdrop,
.search-backdrop.fade.in {
  @include opacity(70);
}


.search-container {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: ($zindex-modal-backdrop + 10);
  position: fixed;
}

// Search
.search-field-wrapper {
  width: 100%;
  display: flex;
  background-color: $navbarBackground;
  box-shadow: $navbarShadow;
  position: relative;

  & > input {
    max-width: 653px;
    //padding: 0.5rem 1.5rem 0.5rem 0;
    padding: 1rem 1rem 0.75rem 1rem;
    height: 51px;
    box-sizing: border-box;
    outline: none;
    background: $navbarButtonBackground;
    flex-grow: 10;
  }
}

.search-field-spacer {
  flex-grow: 1;
}

.search-field-icon {
  font-size: $font-size-lg;
  padding: 1rem 1rem 0.75rem 1.5rem;
}

.search-dropdown {
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$navbarHeight});
}

.search-dropdown__col_1 {
  background: $page-bg;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .search-item--indent {
    margin-left: 14px;
  }
}

.search-dropdown__col_2 {
  flex-grow: 1;
  height: 100%;
  padding-top: 16px;
  display: none;
  flex-direction: column;
}

.search-filter-box {
  background: $search-filter-box-bg;
  border-radius: 2px;
  padding: $spacer*1.5;
  min-width: 340px;
  margin-bottom: $spacer * 1.5;
}

.search-filter-box__header {
  border-bottom: 1px solid $dark-5;
  margin-bottom: $spacer * 1.5;
}

.search-filter-box-link {
  display: block;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  i,
  img {
    font-size: 20px;
    margin-right: 5px;
  }
}

.search-results-scroller {
  display: flex;
  position: relative;
}

.search-results-container {
  display: block;
  padding: $spacer;
  position: relative;
  flex-grow: 10;
  margin-bottom: 1rem;

  // Fix for search scroller in mobile view
  height: unset;

  .label-tag {
    margin-left: 6px;
    font-size: 11px;
    padding: 2px 6px;
  }

  .selected {
    .search-result-tag {
      opacity: 0.7;
      color: white;
    }
  }
}

.search-section {
  background: $panel-bg;
  border: $panel-border;
  padding: 0px 4px 4px 4px;
  margin-bottom: 3px;
  border-radius: 5px;
}

.search-section__header {
  font-size: $font-size-h6;
  padding: 7px 4px 3px 0;
  color: $text-color-weak;
  display: flex;
  flex-grow: 1;

  &:hover,
  &.selected {
    color: $text-color;
  }

  &:hover {
    .search-section__header__link {
      opacity: 1;
    }
  }
}

.search-section__header__icon {
  padding: 5px 0px;
  width: 43px;
  text-align: center;
}

.search-section__header__toggle {
  padding: 5px;
}

.search-section__header__text {
  flex-grow: 1;
  line-height: 24px;
}

.search-section__header__link {
  padding: 2px 10px 0;
  color: $text-muted;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.search-item {
  @include list-item();

  display: flex;
  flex-grow: 1;
  height: 37px;
  white-space: nowrap;
  padding: 0px;

  &:hover,
  &.selected {
    background: $list-item-hover-bg;

    .search-item__body-title {
      color: $text-color-strong;
    }
  }
}

.search-item__body {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.search-item__body-title {
  color: $list-item-link-color;
}

.search-item__body-folder-title {
  color: $text-color-weak;
  font-size: $font-size-xs;
  line-height: 11px;
  position: relative;
  top: -1px;
}

.search-item__icon {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  font-size: 19px;
  padding: 0 2px 0 10px;
}

.search-item__tags {
  display: none;
  padding: 10px;
}

.search-item__actions {
  flex: 0 0 auto;
  padding: 0 10px 0 0;
}

.search-item__actions__item {
  display: inline-block;
  opacity: 0;
  width: 0;
  transition: all 0.2s ease-in-out;
  .fa-star,
  .fa-star-o {
    color: $orange;
    line-height: 37px;
  }
}

.search-item:hover {
  .search-item__actions__item {
    width: 15px;
    opacity: 1;
  }
}

.search-button-row {
  text-align: center;
  padding: $spacer*2 $spacer;
  background: $panel-bg;
}

@include media-breakpoint-up(sm) {
  .search-container {
    left: $side-menu-width;
  }

  .search-item__tags {
    display: block;
  }

  .search-dropdown__col_2 {
    display: flex;
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .search-dropdown__col_2 {
    flex-direction: row;
    justify-content: space-between;
    max-width: 700px;
    height: 260px;
    align-items: flex-start;
  }

  .search-dropdown__col_1 {
    height: 100%;
  }

  .search-filter-box {
    margin: 0;
  }
}

@include media-breakpoint-up(lg) {
  .search-dropdown {
    flex-direction: row;
  }

  .search-dropdown__col_2 {
    flex-direction: column;
  }

  .search-filter-box {
    margin-left: $spacer * 1.5;
    margin-bottom: $spacer * 1.5;
  }
}
