.sidemenu {
  position: fixed;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: $side-menu-width;
  z-index: $zindex-sidemenu;
  a:focus {
    text-decoration: none;
  }

  .sidemenu__logo_small_breakpoint {
    display: none;
  }

  .sidemenu__close {
    display: none;
  }
}

// body class that hides sidemenu
.sidemenu-hidden {
  .sidemenu {
    display: none;
  }
}

@include media-breakpoint-up(sm) {
  .sidemenu-open {
    .sidemenu {
      background: $side-menu-bg;
      height: auto;
      box-shadow: $side-menu-shadow;
      position: relative;
      z-index: $zindex-sidemenu;
    }

    .sidemenu__top,
    .sidemenu__bottom {
      display: block;
    }
  }
}

.sidemenu__top {
  padding-top: 3rem;
  flex-grow: 1;
  display: none;
}

.sidemenu__bottom {
  padding-bottom: $spacer;
  display: none;
}

.sidemenu-item {
  position: relative;
  //@include left-brand-border();

  @include media-breakpoint-up(sm) {
    &.active,
    &:hover {
      //@include left-brand-border-gradient();
      background-color: $side-menu-item-hover-bg;

      .dropdown-menu {
        margin: 0;
        display: block;
        opacity: 0;
        top: 0px;
        // important to overlap it otherwise it can be hidden
        // again by the mouse getting outside the hover space
        left: $side-menu-width - 2px;
        @include animation('dropdown-anim 150ms ease-in-out 100ms forwards');
        z-index: $zindex-sidemenu;
      }
    }
  }
}

.dropup.sidemenu-item:hover .dropdown-menu {
  top: auto !important;
}

.sidemenu-link {
  line-height: 42px;
  padding: 0px 10px 0px 10px;
  display: block;
  position: relative;
  font-size: 16px;
  border: 1px solid transparent;
  text-align: center;
  margin-bottom: 8px;

  img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    box-shadow: 0 0 14px 2px rgba(255, 255, 255, 0.05);
  }
}

@include keyframes(dropdown-anim) {
  0% {
    opacity: 0;
    //transform: translate3d(-5%,0,0);
  }
  100% {
    opacity: 1;
    //transform: translate3d(0,0,0);
  }
}

.icon-circle {
  width: 26px;
  height: 26px;
  display: inline-block;

  .fa,
  .icon-gf,
  .gicon {
    position: relative;
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }

  .fa {
    top: 2px;
    position: relative;
  }

  .icon-gf {
    top: 1px;
    left: 1px;
  }

  img {
    position: relative;
  }
}

.side-menu-header {
  padding: 10px;
  white-space: nowrap;
  background-color: $side-menu-item-hover-bg;
  font-size: 17px;
  color: $sp-label-bg;
  //fill: $sp-label-bg;
  path {
    //fill: $sp-label-bg !important;
  }
}

.sidemenu-subtitle {
  padding: 0.5rem 1rem 0.5rem;
  font-size: $font-size-sm;
  //color: $text-color-weak;
  color: $sp-label-bg;
  border-bottom: 1px solid $dropdownDividerBottom;
  margin-bottom: 0.25rem;
  white-space: nowrap;
}

li.sidemenu-org-switcher {
  border-bottom: 1px solid $dropdownDividerBottom;
}

.sidemenu-org-switcher__org-name {
  font-size: $font-size-base;
}

.sidemenu-org-switcher__org-current {
  font-size: $font-size-xs;
  color: $sp-alt-bg;
  position: relative;
  top: -2px;
}

.sidemenu-org-switcher__switch {
  font-size: $font-size-sm;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  > i.fa.fa-random {
    margin-right: 4px;
    top: 1px;
  }
}

.sidemenu__logo {
  display: block;
  padding: 0.4rem 1rem 0.4rem 0.65rem;
  min-height: $navbarHeight;
  position: relative;
  height: $navbarHeight - 1px;
  &:hover {
    background: $navbarButtonBackgroundHighlight;
  }

  img {
    width: 38px;
    position: relative;
    top: 8px;
    left: 1px;
  }
}

@include media-breakpoint-down(xs) {
  .sidemenu-open--xs {
    li {
      font-size: $font-size-lg;
    }

    .sidemenu {
      width: 100%;
      background: $side-menu-bg-mobile;
      height: auto;
      box-shadow: $side-menu-shadow;
      position: relative;
      z-index: $zindex-sidemenu;
    }

    .sidemenu__close {
      display: block;
      font-size: $font-size-md;
      position: relative;
      top: -3px;
    }

    .sidemenu__top,
    .sidemenu__bottom {
      display: block;
    }
    .sidemenu-item {
      border-right: 1px solid transparent;
    }
  }

  .sidemenu {
    .sidemenu__logo {
      display: none;
    }

    .sidemenu__logo_small_breakpoint {
      padding: 16px 10px 26px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .fa-bars {
        font-size: 25px;
      }
    }

    .sidemenu__top {
      padding-top: 0rem;
    }

    .sidemenu-link {
      text-align: left;
    }

    .sidemenu-icon {
      display: none;
    }

    .dropdown-menu--sidemenu {
      display: block;
      position: unset;
      width: 100%;
      float: none;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      > li > a {
        padding-left: 15px;
      }
    }

    .sidemenu__bottom {
      .dropdown-menu--sidemenu {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
