.gf-tabs {
  @include clearfix();
  float: left;
  position: relative;
  top: 1px;
}

.gf-tabs-item {
  float: left;
  list-style: none;
}

.gf-tabs-link {
  padding: $tabs-padding;
  margin-right: $spacer/3;
  position: relative;
  display: block;
  border: solid transparent;
  border-width: 0 1px 0 1px;
  border-radius: 1px 1px 0 0;
  color: $text-color;

  i {
    margin-right: 10px;
  }

  .gicon {
    position: relative;
    top: -2px;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &.active,
  &.active:hover,
  &.active:focus {
    border-color: $sp-brand-color-2; //$orange $tab-border-color transparent;
    background: $modal-backdrop-bg;
    color: $link-color;
    overflow: hidden;

    &::before {
      display: block;
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      top: 0;
      background-image: none; //linear-gradient(to right, #ffd500 0%, #ff4400 99%, #ff4400 100%);
    }
  }

  &.active--panel {
    background: $panel-bg !important;
  }
}
