.timepicker-timestring {
  font-weight: normal;
}

.gf-timepicker-nav {
  flex-wrap: nowrap;
  display: flex;

  small {
    color: $sp-alt-bg;
  }
}

.gf-timepicker-nav-btn {
  text-overflow: ellipsis;
  overflow: hidden;
}

.gf-timepicker-dropdown {
  position: absolute;
  top: $navbarHeight;
  padding: 10px 12px;
  background-color: $sp-alt-menu-bg;
  border-radius: 0 0 0 4px;
  box-shadow: $search-shadow;
  z-index: $zindex-dropdown;

  a,
  h3,
  label,
  input,
  select {
    color: $sp-alt-bg;
  }

  input,
  select {
    background-color: $sp-alt-label-bg;
  }

  .gf-form-input {
    border: none;
  }

  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20px;
  right: 20px;
  top: $navbarHeight;

  @include media-breakpoint-up(md) {
    left: auto;
    width: 550px;
  }

  .popover-box {
    max-width: 100%;

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
      border-bottom: 0;
    }

    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}

.gf-timepicker-btn-apply {
  margin: 0 0 0 15px;
}

.gf-timepicker-utc {
  background-color: $tight-form-func-bg;
  color: $orange;
  font-size: 75%;
  padding: 3px;
  border-radius: 2px;
  font-weight: 500;
  margin-left: 4px;
}

.gf-timepicker-relative-section {
  min-height: 237px;
  float: left;

  ul {
    list-style: none;
    float: left;
    margin: 0 24px 10px 0;
    li {
      line-height: 22px;
    }

    li.active {
      border-bottom: 1px solid $sp-brand-color-2;
      margin: 3px 0;
      font-weight: 500;
    }
  }
}

.gf-timepicker-component {
  padding: $spacer/2 0 $spacer 0;

  td {
    padding: 1px;
  }

  button {
    background: $sp-alt-label-bg;
    background-image: none;
    border: none;
    color: $sp-alt-bg;
    small {
      color: $sp-alt-bg;
    }
    &.active span {
      color: $blue;
      font-weight: bold;
    }

    .text-info {
      color: $orange;
      font-weight: bold;
    }

    &.btn-sm {
      font-size: $font-size-sm;
      padding: 5px 11px;
    }

    &:hover {
      color: $text-color-strong;
    }

    &[disabled] {
      color: $text-color;
    }
  }
}

.input-datetime-format {
  color: $link-color-disabled;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-chevron-left::before {
  content: '\f053';
}

.fa-chevron-right::before {
  content: '\f054';
}

.glyphicon-chevron-right {
  @extend .fa;
  @extend .fa-chevron-right;
}

.glyphicon-chevron-left {
  @extend .fa;
  @extend .fa-chevron-left;
}
