<page-header model="navModel"></page-header>

<div class="page-container page-body" ng-form="playlistEditForm">
	<h2 class="page-sub-heading">
		New Organization
	</h2>

	<p class="playlist-description">Each organization contains their own dashboards, data sources and configuration, and cannot be shared between orgs. While users may belong to more than one, multiple organization are most frequently used in multi-tenant deployments. </p>

	<form>
		<div class="gf-form-group">
			<div class="gf-form">
				<span class="gf-form-label width-10">Organization name</span>
				<input type="text" ng-model="newOrg.name" required class="gf-form-input max-width-21" placeholder="organization name">
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-10">Partition</span>
				<input type="text" ng-model="newOrg.partition" required class="gf-form-input max-width-21" placeholder="partition id">
			</div>
			<div class="gf-form">
				<span class="gf-form-label width-10">Asset Prefix</span>
				<input type="text" ng-model="newOrg.asset_prefix" required class="gf-form-input max-width-21" placeholder="asset prefix">
			</div>
			<br>
			<div class="gf-form-buttons-row">
				<button type="submit" class="btn btn-success" ng-click="createOrg()">Create</button>
			</div>
		</div>
	</form>
</div>
