<query-editor-row query-ctrl="ctrl" can-collapse="true" has-text-edit-mode="false">
  <div class="gf-form-inline">
    <div class="gf-form gf-form--grow">
      <code-editor content="ctrl.target.expr" datasource="ctrl.datasource" on-change="ctrl.refreshMetricData()" get-completer="ctrl.getCompleter()"
        data-mode="prometheus" code-editor-focus="ctrl.isLastQuery">
      </code-editor>
    </div>
  </div>

  <div class="gf-form-inline">
    <div class="gf-form">
      <label class="gf-form-label">Legend</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.target.legendFormat" spellcheck='false' placeholder="legend format"
        data-min-length=0 data-items=1000 ng-model-onblur ng-change="ctrl.refreshMetricData()">
      </input>
      <info-popover mode="right-absolute">
        Controls the name of the time series, using name or pattern. For example
        <span ng-non-bindable>{{hostname}}</span> will be replaced with label value for the label hostname.
      </info-popover>
    </div>

    <div class="gf-form">
      <label class="gf-form-label width-6">Min step</label>
      <input type="text" class="gf-form-input width-8" ng-model="ctrl.target.interval" data-placement="right" spellcheck='false'
        placeholder="{{ctrl.panelCtrl.interval}}" data-min-length=0 data-items=100 ng-model-onblur ng-change="ctrl.refreshMetricData()"
      />
      <info-popover mode="right-absolute">
        Leave blank for auto handling based on time range and panel width. Note that the actual dates used in the query will be adjusted
        to a multiple of the interval step.
      </info-popover>
    </div>

    <div class="gf-form">
      <label class="gf-form-label">Resolution</label>
      <div class="gf-form-select-wrapper max-width-15">
        <select ng-model="ctrl.target.intervalFactor" class="gf-form-input" ng-options="r.factor as r.label for r in ctrl.resolutions"
          ng-change="ctrl.refreshMetricData()">
        </select>
      </div>
    </div>

    <div class="gf-form gf-form--grow">
      <label class="gf-form-label width-5">Format</label>
      <div class="gf-form-select-wrapper width-8">
        <select class="gf-form-input gf-size-auto" ng-model="ctrl.target.format" ng-options="f.value as f.text for f in ctrl.formats"
          ng-change="ctrl.refresh()"></select>
      </div>
      <gf-form-switch class="gf-form" label="Instant" label-class="width-5" checked="ctrl.target.instant" on-change="ctrl.refresh()">
      </gf-form-switch>
      <label class="gf-form-label gf-form-label--grow">
        <a href="{{ctrl.linkToPrometheus}}" target="_blank" bs-tooltip="'Link to Graph in Prometheus'">
          <i class="gicon gicon-share"></i>
        </a>
      </label>
    </div>
  </div>
</query-editor-row>
